body {
    background-image: linear-gradient(black, rgb(3, 82, 3));
    -webkit-text-stroke-color: black;
    color: green;
    margin: 0;
    padding: 0;
}

head {
    background-color: black;
}

.img-ben10{
    position: relative;
    margin: 20px;
}

div{
    position: fixed;
    bottom: 10%;
}

#myVideo {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
}

.image-container {
    position: relative;
    margin: 20px;
}


.image-container img {
    max-width: 300%; 
    width: 300px;
    height: auto;
}


.image-description {
    -webkit-text-stroke-color: black;
    text-decoration: double;
    position: relative; 
    top: -70px; 
    right: 20px; 
    width: 30%; 
}

.equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}
