body {
    background-color: rgb(24, 197, 39);
    margin: 0;
    padding: 0;
}

head {
    background-color: black;
}

.img-ben10{
    width: 30%;
}

div{
    position: fixed;
    bottom: 10%;
}

.image-container {
    position: relative;
    margin: 20px;
}


.image-container img {
    max-width: 30%; 
    height: auto;
}


.image-description {
    position: relative; 
    top: 10px; 
    right: 20px; 
    width: 30%; 
}
