body {
    background-color: rgb(24, 197, 39);
    
}

head {
    background-color: black;
}
h1{color: rgb(255, 255, 255);}

.header-block{
    width: 50%;
}

.img-ben10{
    width: 30%;
}
